.dropdown {
    flex-direction: column;
    background-color: white;
    border: 1px solid gray;
    color: green;
    position: absolute;
}
  
.dropdown:empty {
    border: none;
}
  
.dropdown-row {
    cursor: pointer;
    margin: 2px 0;
    width: max-content;
}

.header {
    color: black;
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 20px;
}

.headerContainer {
    padding-left: 10%;
    padding-top: 5%;
    width: 100%;
    height: 100%;
    position: absolute;
}

.destinationorhotel {
    color: black;
}

.headerSearch {
    background-color: white;
    border: 3px solid #febb02;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute; 
    width: 300px;
    justify-content: space-around;
    gap: 50px;
    z-index: 1;
}

.headerIcon {
    color: lightgray;
}

.headerSearchItem1 {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.headerSearchInput {
    border: 3px solid;
    color: black;
    border-radius: 5px;
    width: 80%;
    margin-left: 10%;
}

.headerSearchItem2 {
    width: 100%;
}

.date {
    position: absolute;
    margin-left: 50px;
} 

.headerSearchText1 {
    border: 3px solid black;
    color: black;
    margin-left: 20%;
    width: 100%;
} 

.headerSearchItem3 {
    width: 100%;
}

.headerSearchText2 {
    border: 3px solid black;
    color: black;
    margin-left: 20%;
    width: 100%;
}

.options {
    background-color: white;
    color: gray;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0);
    box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.4); 
    width: max-content;
    position: absolute;
    margin-left: 300px;
} 
    

.optionItem {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.optionCounter {
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: black;
}

.optionCounterButton {
    width: 30px;
    height: 30px;
    border: 1px solid #0071c2;
    cursor: pointer;
    color: #0071c2;
    background-color: white;

}

.optionCounterButton:disabled {
    cursor: not-allowed;
} 


.headerButton{
    padding: 10px;
    background-color: #0071c2;
    color: black;
    border: none;
    width: 100%;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
  }