.headerImg {
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  justify-content: center;
}

.headerTitle{
  color: white;
  margin: auto;
}

.headerSearch {
  height: 50px;
  background-color: white;
  border: 3px solid rgb(0, 119, 255);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 5px;
  position: absolute;
  bottom: -25px;
  width: 100%;
  max-width: 1024px;
}

.headerSearchItem {
  align-items: center;
  gap: 10px;
  position: relative;
  margin: auto;
}

.headerIcon {
  margin-right: 2px;
  color: #34e0a1;
}

.dropdown {
  background-color: white;
  border: 1px solid gray;
  color: green;
  z-index: 1;
  flex-direction: column;
  position: absolute;
  width: 300px;
  left: 22px;
}



.dropdown:empty {
  border: none;
}

.dropdown-row {
  cursor: pointer;
  margin: 2px 0;
}

.headerSearchInput {
  color: black;
  border-radius: 20px;
  width: 300px;
  padding: 5px;
  background-color: lightgrey;
}

.date {
  position: absolute;
  z-index: 1;
  left: -40%;
  top: 100%;
}

.headerSearchText {
  padding: 5px;
  border-radius: 20px;
  background-color: lightgrey;
  color: black;
  width: max-content;
  position: relative;
}

.options {
  z-index: 1;
  position: absolute;
  top: 100%;
  background-color: white;
  color: gray;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #0071c2;
  cursor: pointer;
  color: #0071c2;
  background-color: white;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}

.headerButton {
  background-color: #34e0a1;
  padding: 3px;
  color: black;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
}

.listMode{
  position: relative;
}

.listSearch {
  flex: 1;
  background-color: #9fffb9;
  padding: 10px;
  border-radius: 10px;
  height: max-content;
  position: relative;
}

.lsTitle {
  font-size: 20px;
  color: #555;
  margin-bottom: 10px;
}

.lsDest{
  position: relative;
  display: flex;
  flex-direction: column;
}

.dropdownList {
  background-color: white;
  border: 1px solid gray;
  color: green;
  z-index: 1;
  flex-direction: column;
  top: 100%;
  position: absolute;
}

.dropdownList:empty {
  border: none;
}

.dropdownList-row {
  cursor: pointer;
  margin: 2px 0;
}

.lsItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
  position: relative;
}

.lsDate {
  position: absolute;
  z-index: 1;
  top: 100%;
}

.lsItem > label {
  font-size: 12px;
}

.lsItem > input {
  height: 30px;
  border: none;
  padding: 5px;
  color: black;
}
.lsItem > span {
  height: 30px;
  padding: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.lsOptions {
  padding: 10px;
}

.lsOptionItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #555;
  font-size: 12px;
}

.lsOptionInput {
  width: 50px;
}

.listSearch > button {
  padding: 10px;
  background-color: #0d6efd;
  color: white;
  border: none;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
}
