.hotelContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.hotelWrapper{
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.bookNow{
    position: absolute;
    top: 10px;
    right: 0;
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.hotelTitle{
    font-size: 48px;
    font-weight: bold;
}

.hotelAddress{
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: #0071c2;
}

.hotelDistance{
    color: #0071c2;
    font-weight: 500;
}

.hotelPriceHighlight{
    color: #008009;
    font-weight: 500;
}

.hotelImages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hotelImgWrapper{
    width: 33%;
}

.hotelImg{
    width: 350px;
    height: 300px;
    object-fit: cover;
}

.hotelDetails{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}


.hotelDesc{
    font-size: 14px;
    margin-top: 20px;
    border: 1px solid lightgray;
}

.hotelDetailsExtra{
    flex: 1;
}

.hotelAmenities{
    border: 1px solid lightgray;
    margin-top: 20px;
}

.hotelAmenity{
    font-weight: bold;
}

.ratingBar {
    height: 20px;
    border-radius: 5px;
  }

.roomAvail {
    color: red;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}