.hotelContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.hotelWrapper{
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.bookNow{
    position: absolute;
    top: 10px;
    right: 0;
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.hotelTitle{
    font-size: 24px;
}

.hotelAddress{
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.hotelDistance{
    color: #0071c2;
    font-weight: 500;
}

.hotelPriceHighlight{
    color: #008009;
    font-weight: 500;
}

.hotelImages{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hotelImgWrapper{
    width: 33%;
}

.hotelImg{
    width: 100%;
    object-fit: cover;
}

.hotelDetails{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.hotelDetailsTexts{
    flex: 3;
}

.hotelDesc{
    font-size: 14px;
    margin-top: 20px;
}

.hotelDetailsPrice{
    flex: 1;
}


