.footer {
    background-color: #acefd6;
    width: 100%;
    font-size: 12px;
    height: max-content;
}

.fLists {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.fList {
    list-style: none;
    padding: 0;
}

.fListItem {
    margin-bottom: 10px;
    color: black;
    cursor: pointer;
}

.fText{
    color: black;
    text-align: center;
}
