.fh {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

.fhItem {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.fhDetails {
    background-color: white;
    border-top: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
}

.fhImg {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.fhName {
    font-weight: bold;
}

.fhCity {
    font-weight: 300;
}

.fhPrice {
    font-weight: 500;
}

.fhRating > button{
    background-color: #003580;
    color: white;
    border: none;
    padding: 3px;
    margin-right: 10px;
    font-weight: bold;
    border-bottom-left-radius: 10px;
}

.fhRating > span {
    font-size: 14px;
}