
.dropdown {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
}
  
.dropdown:empty {
    border: none;
}
  
.dropdown-row {
    cursor: pointer;
    text-align: start;
    margin: 2px 0;
}


.header {
    display: flex;
    color: white;
    justify-content: center;
    width: 100%;
    height: 600px;
}

.headerContainer {
    display: flex;
    
    padding-left: 30%;
    padding-top: 5%;
    height: 70%;
    

}

.headerContainer.listMode {
    
}

.headerSearch {
    background-color: white;
    border: 3px solid #febb02;
    display: flex;
    flex-direction: column;
    
    
}

.headerIcon {
    color: lightgray;
}

.headerSearch {
    

}

.headerSearchItem1 {

}

.headerSearchInput {
    border: 3px solid;
    color: black;
}

.headerSearchItem2 {
    
    
    
}

.headerSearchText {
    border: 3px solid black;
    color: black;
    
}

.date {
    
    display: None;
    
    
}

.headerSearchItem3 {
    
}

.options {
    background-color: white;
    color: gray;
    border-radius: 5px;
    /* -webkit-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0);
    box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.4); */
    
}

.optionItem {
    width: 200px;
    /*display: flex;*/
    justify-content: space-between;
    margin: 10px;
}

.optionCounter {
    /*display: flex;*/
    align-items: center;
    gap: 10px;
    font-size: 12;
    color: black;
}

.optionCounterButton {
    width: 30px;
    height: 30px;
    border: 1px solid #0071c2;
    cursor: pointer;
    color: #0071c2;
    background-color: white;

}

.optionCounterButton:disabled {
    cursor: not-allowed;
}

.headerSearchItem4 {
    
}

.headerButton {
    border: 3px solid black;
}












/*
.header {
    display: flex;
    color: white;
    justify-content: center;
    width: 100%;
    height: 600px;
    position: relative;
}

.headerContainer {
    width: 100%;
    
}

.headerContainer.listMode {
    
}

.headerSearch {
    background-color: white;
    border: 3px solid #febb02;
    position: absolute;
    top: 10%;
    right: 10%;
    left: 60%;
    bottom: 60%;
    height: 80%;
    width: 20%;
}

.headerIcon {
    color: lightgray;
}

.headerSearch {
    

}

.headerSearchItem1 {

}

.headerSearchInput {
    border: 3px solid;
    color: black;
}

.headerSearchItem2 {
    
    position: relative;
    
}

.headerSearchText {
    border: 3px solid black;
    color: black;
    
}

.date {
    position: absolute;
    display: None;
    right: 20%;
    top: 20%;
    z-index: 2;
}

.headerSearchItem3 {
    
}

.options {
    background-color: white;
    color: gray;
    border-radius: 5px;
    /* -webkit-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0);
    box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.4); */
    /* z-index: 2;
    position: absolute;
    right: 22%;
    top: 62%;
}

.optionItem {
    width: 200px;
    /*display: flex;*/
    /* justify-content: space-between;
    margin: 10px;
}

.optionCounter {
    /*display: flex;*/
    /* align-items: center;
    gap: 10px;
    font-size: 12;
    color: black;
}

.optionCounterButton {
    width: 30px;
    height: 30px;
    border: 1px solid #0071c2;
    cursor: pointer;
    color: #0071c2;
    background-color: white;

}

.optionCounterButton:disabled {
    cursor: not-allowed;
}

.headerSearchItem4 {
    
}

.headerButton {
    border: 3px solid black;
} */

