
  /* Navbar Styles */
.navbar {
  background-color: #acefd6;
  height: 60px;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  /* max-width: 1024px; */
}

.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* max-width: 1024px; */
  margin: auto;
  padding: 0 20px;
}

.logo {
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
}

.navItems {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  /* margin-right: 20px; */
  align-items: center;
  margin-left: auto; /* Push all items to the right */
}

.nav-item {
  margin-right: 10px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  color: #333;
  text-decoration: none;
  padding: 8px 10px;
  border-radius: 10px;
  
}


.loginregister {
  color: blue;
}

.navButton:first-child {
  margin-left: 0;
}


.dropdowncountry{
  z-index: 2;
  position: absolute;
  left: 0px; /* Adjust this value to position the dropdown */
  top: 50%; /* Vertically center the dropdown */
  transform: translateY(-50%); /* Center the dropdown vertically */
  max-height: max-content;
  overflow: visible;
  min-width: max-content;
  max-width: 100px; 
  overflow-y: auto; 
  font-weight: bold;
  font-size: small;
  /* font-style:italic; */
  margin-left: 300px;
  padding: 8px 20px;
  border:none;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  display:flex;
  border: none;
  cursor: pointer;
  align-items: center;
}

.navButton {
  /* margin-left: 10px; */

  padding: 8px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  min-width: 80px;
  min-height: 40px;
  max-height: max-content;
  flex: 0 0 auto;
}