
  /* Navbar Styles */
.navbar {
  background-color: #fff;
  height: 60px;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.logo {
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
}

.navItems {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 10px;
  padding-top: 7px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  color: #333;
  text-decoration: none;
  padding: 8px 10px;
  border-radius: 10px;
  
}

.navButton {
  margin-left: 10px;
  padding: 8px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.navButton:first-child {
  margin-left: 0;
}