.hotelRoom{
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.hrImg{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.hrDesc{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 2;
}

.hrTitle{
    font-size: 20px;
    color: #0071c2;
}

.hrDistance{
    font-size: 12px;
}

.hrTaxiOp{
    font-size: 12px;
    background-color: #008009;
    color: white;
    width: max-content;
    padding: 3px;
    border-radius: 5px;
}

.hrSubtitle{
    font-size: 12px;
    font-weight: bold;
}

.hrFeatures{
    font-size: 12px;
}

.hrCancelOp{
    font-size: 12px;
    color: #008009;
    font-weight: bold;
}

.hrCancelSubtitle{
    font-size: 12px;
    color: #008009;
}

.hrDetails{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hrRating{
    display: flex;
    justify-content: space-between;
}

.hrRating>span{
    font-weight: 500;
}

.hrRating>button{
    background-color: #003580;
    color: white;
    padding: 5px;
    font-weight: bold;
    border: none;
}

.hrDetailTexts{
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hrPrice{
    font-size: 24px;
}

.hrTaxOp{
    font-size: 12px;
    color: gray;
}

.hrCheckButton{
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    padding: 10px 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
