.homeContainer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: cornsilk;
}

.homeItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 90%;

}

.homeTitle {
    margin-top: 10px;
    max-width: 1024px;
    font-size: 20px;
}