.welcome-block{
    width: 100vw;
    height: 130px;
    background-color: #9fffb9;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
   }

.user-info{
-webkit-text-fill-color: rgb(122, 107, 107);
padding: 30px;
justify-content: space-between;
align-items: center;
}

.tabs-container {
    margin-top: -40px; /* Adjust the margin value to align the tabs with the welcome block */
  }

.utitle{
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}

