.clist {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 1024px;
}

.clistItem {
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    flex: 1;
}

.clistImg {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.clistTitles>h1{
    font-size: 18px;
}

.clistTitles>h2{
    font-size: 14px;
    font-weight: 300;
}